@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

body, h1, h2, h3, h4, h5 {
	font-family: 'Monda', sans-serif;
}
h1.logo {
	margin-top: 90px;
	font-size: 50px;
	font-weight: bold;
	color: #19497F;
}
h1.logo small {
	display: block;
	margin-top: 5px;
	color: #999;
	font-size: 16px;
}
@media (min-width: 768px) {
	h1.logo small {
		display: inline;
	}
}
h1 small {
	font-size: 0.4em;
}
.page-header {
	margin-top: 8em;
}
.page-header h1 small {
	font-size: 0.5em;
}
.jumbotron {
	background: url('../img/main.jpg') no-repeat;
	color: #fff;
}
.thumbnail {
	margin-bottom: 30px;
}
.img-thumbnail {
	margin-bottom: 0;
	padding: 0;
	border: none;
}
.btn {
	border-radius: 4px;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
table th {
	min-width: 80px;
}