@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #fefefe;
}
p {
	line-height: 1.4;
}
h1, h2, h3, h4 {
	line-height: 1.2;
}
body.en h1,
body.en h2,
body.en h3,
body.en h4 {
	font-family: 'Montserrat', sans-serif;
}

.content {
	margin: 0 auto;
	width: 980px;
}
.cf:after{
	content: "";
	clear: both;
	display: block;
}
h1 a {
	text-decoration: none;
	color: #333;
}
h1 a:hover {
	text-decoration: none;
	color: #1699B6;
}
a {
	color: #1699B6;
}
a:hover {
	color: #005568;
}
.navbar-top .content a,
.footer a {
	color: #fff;
}
.navbar-top .content a:hover,
.footer a:hover {
	color: #ccc;
}
hr {
	height: 0;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px dashed #333;
}
/* hero ---------------------------------------- */

.hero {
	color: #fff;
	background-color: #000000;
/* 	background-image: url('../img/bg.jpg'); */
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
-@media screen and (max-width:640px){
	.hero {
/* 		background-image: url('../img/bg_m.jpg'); */
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}
.hero a,
.hero a:visited {
	color: #fff;
	text-decoration: none;
}
.hero a:hover {
	color: #ccc;
}
.navbar-top {
	padding: 10px 0 10px 0;
	background-color: #0F1A20;
	font-size: 20px;
	font-weight: 900;
}
#top .navbar-top {
	padding: 4px 0 2px 0;
}
.navbar-top .content {
	display: table;
}
.navbar-top-logo {
	display: table-cell;
	width: 200px;
}
.navbar-top-link {
	display: table-cell;
	width: 650px;
	vertical-align: middle;
}
.navbar-top-link ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
  justify-content: flex-end;
	margin: 0;
	padding: 0;
}
.navbar-top-link li {
	padding: 0 0.6em;
	line-height: 1em;
	list-style-type: none;
}
.navbar-top-link li a {
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}
.hero-text {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 1px;
}
.hero-img {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 40px;
}
.hero-text h1 {
	margin: 0;
	font-size: 62px;
	font-weight: normal;
}
.hero-copy {
	margin: 10px 5px 5px 5px;
	font-size: 14px;
	font-weight: normal;
}
p.hero-store {
	margin: 0.5em;
}
.hero-store img {
	margin: 5px;
	width: 178px;
	height: 60px;
}

.hero-store a img:hover {
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}
.hero-img {
	overflow: hidden;
}
/* content ---------------------------------------- */
.content-wrap {
	margin: 0;
	padding: 20px 0 0 0;
	color: #F2F2F2;
}
.content-wrap .content {
	display: -webkit-flex;
  display: flex;
	-webkit-align-items: center; /* Safari */
  align-items: center;
}
.content-wrap1 {
	background-color: #1699B6;
}
.content-wrap2 {
	background-color: #005568;
}
.content-copy {
	order: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	font-size: 26px;
	font-weight: 900;
	padding: 0;
	padding-bottom: 60px;
}
.content-copy i {
	font-size: 2em;
}
.content-img {
	order: 2;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: right;
}
.content-wrap2 .content-copy {
	order: 2;
}
.content-wrap2 .content-img {
	order: 1;
	text-align: left;
}
.content-img img {
	vertical-align: bottom;
}



/* footer ---------------------------------------- */

.footer {
	margin: 0 0 0 0;
	padding: 30px 5px 150px 5px;
	text-align: center;
	color: #fff;
	background-color: #333;
}
.footer-copy{
	font-size: 18px;
	font-weight: 900;
	color: #fff;
}
.footer-nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	-webkit-justify-content: center;
  justify-content: center;
	margin: 0;
	padding: 0 0 40px 0;
}
.footer-nav li {
	padding: 0 1em;
	line-height: 2em;
	list-style-type: none;
}
.footer-nav li a {
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
}
.footer .link,
.footer .copyright {
	margin: 5px 5px 1em 5px;
}
.footer .link a {
	font-size: 18px;
	text-decoration: none;
}
.footer .copyright a {
	color: #fff;
}.footer .copyright a:hover {
	color: #ccc;
}

/* help ---------------------------------------- */

.container-help {
	padding: 0 0 30px 0;
	color: #333;
}
.container-help .content {
	padding: 0 30px;
}
.container-help p {
	font-family: sans-serif;
}
@media screen and (max-width:770px){
	.container-help {
		padding: 0 0 30px 0;
	}
	.container-help .content {
	padding: 0 5%;
}
}
.container-help .content {
	max-width: 1000px;
	width: 90%;
}
.container-help .navbar-top {
	text-align: left;
}
.container-help .navbar-top a {
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
}
.container-help h1 {
	margin-top: 0;
	padding-top: 20px;
	font-size: 36px;
	color: #333;
}
.container-help h2 {
	margin-top: 52px;
	padding-bottom: 10px;
	font-size: 24px;
	color: #333;
	border-bottom: 1px solid #333;
}

.container-help h3 {
	margin-top: 52px;
	padding-bottom: 10px;
	font-size: 20px;
	color: #333;
	border-bottom: 1px #ccc dashed;
}

@media screen and (max-width:770px){
	.container-help img {
		max-width: 100%;
		height: auto;
	}
	.container-help img.keep {
		max-width: inherit;
		height: inherit;
	}
}
.container-help .wrap-sidetext div:first-child {
	width: 320px;
	float: left;
}
.container-help .wrap-sidetext div:last-child {
	width: 650px;
	float: right;
}
@media screen and (max-width:770px){
	.container-help .wrap-sidetext div:first-child,
	.container-help .wrap-sidetext div:last-child {
		width: 100%;
		float: none;
	}
}
.container-help .wrap-video {
	width: 640px;
}
@media screen and (max-width:770px){
	.container-help .wrap-video {
		width: 100%;
	}
}
.container-help .wrap-video .video {
    position: relative;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-bottom: 50%;
    padding-top: 69px;
    overflow: hidden;
}

.container-help .wrap-video .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-help dt {
	margin-bottom: 0.5em;
	font-weight: bold;
}
.container-help dd {
	margin-bottom: 1em;
	font-weight: normal;
}
.container-help li {
	margin-bottom: 0.5em;
}
.container-help table {
	margin: 1em 0;
	border-collapse: collapse;
}
.container-help th {
	border: #cfcfcf 1px solid;
	text-align: left;
	padding: 10px;
	font-weight: normal;
	background-color: #efefef;
}
.container-help td {
	border: #cfcfcf 1px solid;
	text-align: left;
	padding: 10px;
}

/* For Mobile ---------------------------------------- */

@media screen and (max-width:770px){

	.content {
		width: 100%;
	}
	.navbar-top {
		padding: 4px 6px;
		text-align: center;
	}
	.navbar-top-link {
		display: none;
	}
	.hero-text {
		padding-top: 50px;
		width: 100%;
		text-align: center;
	}
	.hero-text h1 {
		font-size: 40px;
	}
	.hero-text h1 img {
		text-align: center;
		width: 60%;
		height: auto;
	}
	.hero-copy{
		font-size: 18px;
	}
	.hero-img {
		margin: 30px 0 -3px 0;
		padding: 0 0 20px 0;
		line-height: 1;
		width: 100%;
		height: auto;
		float: none;
		text-align: center;
		overflow: hidden;
	}
	.hero-img img {
		margin: 0;
		padding: 0;
		border: none;
		width: 90%;
		height: auto;
		overflow: hidden;
	}
	.hero-store img {
		width: 140px;
		height: auto;
	}
	.mdl p {
		margin: 0 auto 0 auto;
		width: 94%;
		text-align: left;
	}
	/* Mobile content */
	.content-wrap {
		margin: 0;
		padding: 20px 0 0 0;
		color: #F2F2F2;
	}
	.content-wrap .content {
		display: -webkit-flex;
	  display: flex;
		-webkit-flex-direction: column; /* Safari */
		flex-direction: column;
		-webkit-align-items: center; /* Safari */
	  align-items: center;
	}
	.content-wrap1 {
		background-color: #AEC5C8;
	}
	.content-wrap2 {
		background-color: #689EA4;
	}

	.content-copy {
		text-align: center;
		padding: 0 10px 20px 10px;
		font-size: 18px;
	}
	.content-img {
		order: 2;
		-webkit-flex-grow: 1;
		flex-grow: 1;
		text-align: center;
	}
	.content-wrap2 .content-copy {
		order: 1;
	}
	.content-wrap2 .content-img {
		order: 2;
		text-align: center;
	}
	.content-img img {
		vertical-align: bottom;
		width: 90%;
		height: auto;
	}

}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
